<h2>Add a New Recipe</h2>
<form [formGroup]="form">
  <table>
    <tr>
      <td><label for="title">Enter a New Recipe Here: </label></td>
      <td><input id="title" size="50" formControlName="title"></td>
    </tr>
    </table>
      <br>
        <mat-card-title>Ingredients: </mat-card-title>
        <button type="button" (click)="addIngredientInput"
        mat-icon-button color="warn"> <mat-icon>add</mat-icon></button>
        <ng-container formArrayName="ingredient">
          <ng-container *ngFor="let ing of getFormArray().controls;
          let i = index">
          <mat-form-field appearance="fill">
            <mat-label>Enter your Ingredients here: </mat-label>
            <input matInput formControlName="{{ i }}"/>
            <button *ngIf="i > 0"
              type="button" matSuffix
              mat-icon-button
              color="warn"
              (click)="deleteInput(i)">
            <mat-icon>remove</mat-icon>
          </button>
          </mat-form-field>
          </ng-container>
        </ng-container>


      <td><label for="instruction">Instruction: </label></td>
      <br>
    <textarea id="instruction" cols="50" rows="5"
    formControlName="instruction"></textarea>



      <td><label for="instruction">Image: </label><
      <br>
      <input id="title" size="50" formControlName="image">
  </form>
  <div class="justify-right">
    <br>
    <button type="button" [disabled]="form.invalid"
    (click)="submitForm()">Add</button>
    <button type="button" (click)="goBack()">Back</button>

    <!-- <section fxLayout fxLayoutAlign="space-between center">
      <div>
         <button mat-button>Prev</button>
         <button mat-button>Nex</button>
       </div>
       <button mat-button cdkFocusInitial mat-dialog-close>Close</button>
   </section> -->
  </div>
